*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    height: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.green{
    background-color: lightgreen;
}

.red{
    background-color: tomato;
}
